
__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
ENV/
env/
pip-wheel-metadata/
.python-version

db.sqlite3
media/
staticfiles/
staticfiles.json
*.log


**/migrations/**/*.py
!**/migrations/__init__.py

.env
.env.*

.pytest_cache/
.coverage
coverage.xml
htmlcov/

build/
dist/
*.egg-info/

.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db